name: Capo-SonarQube

on:
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: make application-dev.yml
        run: |
          cd ./src/main/resources
          touch ./application-dev.yml
          echo "${{ secrets.APPLICATION_DEV }}" > ./application-dev.yml
      
      - name: make application-test.yml
        run: |
          cd ./src/test/resources
          touch ./application-test.yml
          echo "${{ secrets.APPLICATION_TEST }}" > ./application-test.yml  
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

  sonarqube:
    needs: build
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: make application-test.yml
        run: |
          cd ./src/test/resources
          touch ./application-test.yml
          echo "${{ secrets.APPLICATION_TEST }}" > ./application-test.yml

      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: ./gradlew build sonar

      - name: Send SonarQube Analysis Result to Discord
        env:
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_NAME }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          curl -H "Content-Type: application/json" \
            -d "{\"content\": \"π“ **SonarQube λ¶„μ„ κ²°κ³Ό**\n\nν”„λ΅μ νΈ: **${SONAR_PROJECT_KEY}**\nPull Request λ²νΈ: **${PR_NUMBER}**\nλ¶„μ„ κ²°κ³Ό λ§ν¬: [SonarQube κ²°κ³Ό ν™•μΈν•κΈ°](${SONAR_HOST_URL})\"}" \
            $DISCORD_WEBHOOK_URL

#      - name: Grant execute permission for gradlew
#        run: chmod +x ./gradlew
#
#      - name: Build and analyze
#        env:
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
#          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
#          SONAR_PROJECT_NAME: ${{ secrets.SONAR_PROJECT_NAME }}
#          PR_NUMBER: ${{github.event.pull_request.number}}
#        run: ./gradlew build sonarqube -Dsonar.login=${{ secrets.SONAR_TOKEN }} -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }} -Dsonar.projectName=${{ secrets.SONAR_PROJECT_NAME }}
      
#      - name: Comment Sonarqube URL
#        uses: actions/github-script@v4
#        env:
#          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
#          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
#          PR_NUMBER: ${{ github.event.pull_request.number }}
#        with:
#          script: |
#            const { SONAR_PROJECT_KEY, SONAR_HOST_URL, PR_NUMBER } = process.env;
#            github.issues.createComment({
#              issue_number: context.issue.number,
#              owner: context.repo.owner,
#              repo: context.repo.repo,
#              body: `π“ ${ SONAR_PROJECT_KEY }-${ PR_NUMBER } λ¶„μ„ κ²°κ³Ό ν™•μΈν•κΈ° [λ§ν¬] (${SONAR_HOST_URL})`
#            });
